<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body>
	
	<div class="register">
		
		<form action="/users/form" method="post"  class="form_2">
		<div style="color: #fff;font-size: 20px;margin-bottom:20px" >账号：<input type="text" name="user"/></div>
		<div style="color: #fff;font-size: 20px;margin-bottom:20px" >密码：<input type="text" name="pass"/></div>
		<div style="color: #fff;font-size: 20px;" >邮箱：<input type="email" name="email"/></div>
		
		<input type="submit" value="注册" style="margin-top:30px;width:40px;height:30px;border:none">

		</form>
		
		
		
	</div>
	



	
</body>
</html>